{% include base_path %}

<meta charset="utf-8">


{% include seo.html %}

<!-- Custom Open Graph meta tags -->
<meta property="og:title" content="SISLIA UTINA" />
<meta property="og:description" content="Mathematics Graduate | Interested in Data Analysis and Project Optimization" />
<meta property="og:image" content="https://sisliautina.github.io/images/PAS FOTO M.jpeg" />
<meta property="og:url" content="https://sisliautina.github.io/" />
<meta property="og:type" content="website" />

<!-- For all browsers -->
<link rel="stylesheet" href="{{ base_path }}/assets/css/main.css">

<meta http-equiv="cleartype" content="on">
